<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Example</title>
    <script type="text/javascript" src="http://cdn.tonejs.org/latest/Tone.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <div style="width:auto;">
        <button type="button" name="monoTrigger" id="monoTrigger">Mono</button>
        <button type="button" name="polyTrigger" id="polyTrigger">Poli</button>
        <button type="button" name="sampleTrigger" id="sampleTrigger">Sample</button>
        <form id="termForm" method="POST" action='#'>
          <input type="text" name="termData" id="termData" placeholder="Write a word to hear it's twitter">
          <input type="submit" value="Search">
        </form>
    </div>
  </body>
</html>
