<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Example</title>
    <script type="text/javascript" src="http://cdn.tonejs.org/latest/Tone.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <div class="page-wrapper">
        <input type="text" name="termData" id="termData" placeholder="Write a word to hear it's twitter stream">
        <button type="button" name="termTrigger" id="termTrigger">Change term</button>
    </div>
  </body>
</html>
